*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container
{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url(./image/1.png) no-repeat;
    background-size:cover ;
    background-position: center center;
    font-family: arial;
}
.navbar
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    color: #fff;
}
.navbar .logo
{
    /* background-color: rebeccapurple; */
    display: inline-block;
    margin-top: 30px;
}
ul.nav-items
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-bottom: 4px solid #fff;
    padding: 20px;
}
.navbar ul li.nav-item
{
    text-transform: capitalize;
    margin: 10px 30px;
}
.navbar ul li.nav-item:last-child
{
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar ul li.nav-item:last-child span.icon 
{
    font-size: 30px;
}
.menuIcon
{
    color: #fff;
    font-size: 1.4rem;
    display: none;
}

@media screen and (max-width:1132px) {
    .menuIcon
    {
        display: inline;
    }
    ul.nav-items
    {
        display: none;
        position: absolute;
        top:60%;
        right: 5%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(25px);
        border-radius: 10px;
        font-size: 1.2rem;
        z-index: 3;
        flex-direction: column;
    }
    .menuIcon:focus ~ ul.nav-items
    {
        display: flex;
    }
 
}

.hero__section
{
    display: flex;
    margin: 130px 5%;
    color: #fff;
}
.hero__section h1
{
    text-transform: capitalize;
    font-size: 60px;
}
button.btn
{
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 60px;
    padding: 15px 40px;
    border-radius: 40px;
}
.pin__point-group
{
    position: relative;
    width: 60%;
}
.material-symbols-sharp
{
    color: #000;
    font-size: 50px;
    background-color: #fff;
    padding: 5px 25px;
    border-radius: 20px;
    margin: 10px 0px;
}
.pin__point
{
    display: inline-block;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.pin__point_2
{
    position: absolute;
    left: 35.3%;
    top: 50%;
}
.pin__point_2::after
{
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    left: 100%;
    bottom: 50%;
    background-color: #fff;
}
.pin__point_2::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    left: 100%;
    margin-left: 70px;
    transform: translateY(50%);
    bottom: 50%;
    z-index: 4;
}
.pin__point_1
{
    position: absolute;
    left: 65%;
    top: -20%;
}
.pin__point_1::after
{
    position: absolute;
    content: '';
    width: 1px;
    height: 70px;
    left: 50%;
    top: 100%;
    background-color: #fff;
}

.pin__point_1::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 100%;
    margin-top: 70px;
    transform: translatex(-50%);
    z-index: 4;
}
.pin__point p
{
    font-weight: 600;
    margin-top: 10px;
}
@media screen and (max-width:1182px) {
    .pin__point-group
    {
        display: none;
    }
}
